.all_logo{
    display: flex;
    align-items: center  ;
    justify-content: center;
    margin-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 60px;
    width: 1170px;
    /* width: 1000px; */
}



.client_logo{
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #edeff2;
    width: 20%;
    float: left;
    border-bottom: 1px solid #edeff2;
}

.client_logo_rengli{
    filter: grayscale(1);
    transition: 0.5s;
}
.client_logo_rengli:hover{
    filter: none;
}
